[includeIf "gitdir:~/git/"]
  path = ~/git/dotfiles/.gitconfig-personal

[includeIf "gitdir:~/git/spierings_io/"]
  path = ~/git/dotfiles/.gitconfig-spierings_io

[includeIf "gitdir:~/git/work/"]
  path = ~/git/dotfiles/.gitconfig-work

[pull]
  rebase = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[alias]
  au = update-index --assume-unchanged
  uau = update-index --no-assume-unchanged
  aud = !git ls-files -v | grep "^[[:lower:]]"

[init]
  defaultBranch = master

[merge]
  tool = code

[mergetool "code"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[core]
	excludesfile = /Users/gideon/git/dotfiles/.gitignore
